.root {
	-fx-font-size: 16pt;
	-fx-font-family: "Ariel";
	-fx-background-color: rgb(0, 0,0);
}

.button {
	-fx-background-color: #09ff00;
	-fx-border-color: rgb(1, 39, 48);
	-fx-border-radius: 5;
	-fx-padding: 3 6 6 6;
	-fx-effect: dropshadow( one-pass-box, black, 8, 0.0, 2, 0);
}